
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{{range $i , $g := .recommends}}
					<li>
						<a href="/goods/detail?goodsId={{$g.Id}}"><img src="http://35.220.222.205:8888/{{$g.Image}}"></a>
						<h4><a href="/goods/detail?goodsId={{$g.Id}}">{{$g.Name}}</a></h4>
						<div class="prize">￥{{$g.Price}}</div>
					</li>
					{{end}}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{{range $i , $g := .goods}}
				<li>
					<a href="/goods/detail?goodsId={{$g.Id}}"><img src="http://35.220.222.205:8888/{{$g.Image}}"></a>
					<h4><a href="/goods/detail?goodsId={{$g.Id}}">{{$g.Name}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{$g.Price}}</span>
						<span class="unit">{{$g.Unite}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{{end}}
			</ul>

			{{if .paginator.HasPages}}
			<div class="pagenation">
				<a href="{{.paginator.PageLinkPrev}}">上一页</a>
				{{range $index, $page := .paginator.Pages}}
        <a href="{{$.paginator.PageLink $page}}" {{if $.paginator.IsActive .}} class="active" {{end}}>{{$page}}</a>
				{{end}}
				<a href="{{.paginator.PageLinkNext}}">下一页</a>
			</div>
			{{end}}
<!-- 
			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="" class="active">1</a>
				<a href="/goods/types?typeId={{.Id}}&p={{.}}">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div> -->
		</div>
	</div>
